/* #root {
    max-width: 1380px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: white;
    color: black;

  } */
  /* styles.css */
/* .button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #3afc44;
}

.todo {
  margin-bottom: 10px;
  font-size: 18px;
} */


/* .header {

    color: blue;
    border-bottom: 2px solid blue; 
    padding-bottom: 10px;
  } */
  /* .top-right-button {
    position: absolute;
    top: 10px; 
    right: 10px;
  } */
  /* .add-tocart {
    position: absolute;
    padding: 10px;
    top: 10px; 
    right: 10px; 
    background-color: white;
  } */
  
  /* .dev{
    background-color: white;  
  } */
  /* .product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
  }
  
  .product-info {
    margin-left: 60px;
  }
  
  .product-name {
    font-weight: bold;
    font-size: 30px;
    color: #333;
  }
  .product-description {
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  .product-price {
    font-weight: bold;
    font-size: 15px;
    color: #333;
  }

  .add-to-cart-button {
    background-color: gray;
    color: white;
    border: black;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: red;
  }
  .cart-item {
    color: #4B0082; 
  } */